// This file contains all styles related to the BUTTON components

// Buttons' menus (home page) : all
.btn-menus {
    cursor: pointer;  
    border: none;
    outline: none;
    @extend .box-shadow;
    display : grid;
    align-content: center;
    h3 {
        font-size: 1.8em;
        margin-top: 0;
    }
}

// Button's Menu 1 "La note enchantée"
.btn-menu--1 {
    h2 {
        font-size: 2em;
        margin-top: 8px;
    }
}

// Button's Menu 2 "Le chic à la française"
.btn-menu--2 {
    h2 {
        font-size: 1.3em;
    }
    h3 {
        letter-spacing: 0.1em;
    }
}

// Button's Menu 3 & Menu 4
.btn-menu--3, .btn-menu--4 {
    h2 {
        font-size: 2em;
    }
    h3 {
        font-weight: normal;
    }
}
    
// Button "Prochainement"
.btn-prochainement {
    margin-bottom: 30px; 
    @extend .text-align-center;
    .btn-prochainement__heading {
        padding: 8px 30px 8px 30px;
        font-size: 1.2em;
        border-radius: 0.5em;
        border: none;
    }   
    .btn-prochainement:focus {
        outline: none;
    }
    @include xx-small-only { // The button do not appear for xx-small and x-small menus
        display: none;
    }
    @include small-only { // The button appears in small menus and beyond
        display: block;
    }
}


