// This file contains all styles related to the keyframes for ANIMATIONS

// Zoom effect on menus preview (home page)
.btn-menus--hover {
    text-align: center;
    position: relative;
    transform: scale(1);
    transition: transform 0.8s;
    &:hover {
        transform: scale(1.04);
        opacity: 0.7;
    }
}

// Underline from left to right on one page menu's titles
.part__123__title {
    justify-content: space-between; // pour limiter le soulignement au texte (pas de dépassement)
    h3 {
        position: relative; // place le trait sous le titre
        &:before, &:after {
            content: "";
            position: absolute;
            bottom: -2px; // positionne le trait sous le texte
            width: 0px; // le trait part de 0 pour aller au bout (effet déplacement)
            height: 1.5px; // épaisseur du trait
            transition: all 0.1s ease-in-out;
            transition-duration: 0.5s;
            opacity: 0;
            background-color: $text-color-primary;
            left: 0;
        }
        &:hover {
            cursor: pointer; 
            &:before,
            &:after {
                width: 100%; // le trait va jusqu'au bout
                opacity: 1;
            }
        }    
    }
}

// Dots loading on button "Prochainement"
.loading span {
    width: 3px;
    height: 3px;
    margin: 0 2px;
    background-color: $text-color-primary;
    border-radius: 50%;
    display: inline-block;
    animation-name: dots;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    &:nth-child(2) {
        animation-delay: 0.4s;
    }
    &:nth-child(3) {
        animation-delay: 0.8s;
    }
}

@keyframes dots {
    50% {
        opacity: 0;
    }
}


// Wiggle effect on footer's links
footer {
    a:hover {
    animation: shake 0.5s;
    }
}

@keyframes shake {
    0% { 
        transform: translate(1px, 1px) rotate(0deg); 
    }
    10% { 
        transform: translate(-1px, -2px) rotate(-1deg); 
    }
    20% { 
        transform: translate(-3px, 0px) rotate(1deg); 
    }
    30% { 
        transform: translate(3px, 2px) rotate(0deg); 
    }
    40% { 
        transform: translate(1px, -1px) rotate(1deg); 
    }
    50% { 
        transform: translate(-1px, 2px) rotate(-1deg); 
    }
    60% { 
        transform: translate(-3px, 1px) rotate(0deg); 
    }
    70% { 
        transform: translate(3px, 1px) rotate(-1deg); 
    }
    80% { 
        transform: translate(-1px, -1px) rotate(1deg); 
    }
    90% { 
        transform: translate(1px, 2px) rotate(0deg); 
    }
    100% { 
        transform: translate(1px, -2px) rotate(-1deg); 
    }
}