// This file contains all styles related to the GRID SYSTEM used in the site

// Home page's grid system
.grid-menus {
    display: grid;
    @include xx-small-only {
        grid-template-columns: auto; 
        grid-template-rows: 380px 380px 380px 380px;
        row-gap: 35px;
        margin: 40px 25px 40px 25px;
    }
    @include x-small-only {
        grid-template-rows: 406px 406px 406px 406px;
        margin: 60px 37px 60px 37px;
        row-gap: 47px;
    }
    @include small-only {
        grid-template-columns: 276px 276px;
        grid-template-rows: 429px 429px;
        column-gap: 54px;
        row-gap: 54px;
        margin: 54px 81px 44px 81px;
        // grid-template-columns: 36% 36%;
        // grid-template-rows: 429px 429px;
        // column-gap: 7%;
        // row-gap: 7%;
        // margin: 7% 11% 7% 11%;
    }
    @include medium-only {
        grid-template-columns: 180px 180px;
        grid-template-rows: 287px 287px;
        column-gap: 36px;
        row-gap: 36px;
        margin: 36px 57px 36px 57px;
    }
    @include large-only {
        grid-template-columns: 211px 211px;
        grid-template-rows: 336px 336px;
        column-gap: 43px;
        row-gap: 43px;
        margin: 42px 67px 42px 67px;
    }
    @include x-large-only {
        grid-template-columns: 258px 258px;
        grid-template-rows: 403px 403px;
        column-gap: 51px;
        row-gap: 51px;
        margin: 51px 79px 41px 79px;
    }
}

// One page menus' grid system
.menu {
    .part__1, .part__2, .part__3 {
        display: grid;
        .part__123__title {
            display: grid;
            grid-template-columns: auto auto auto; 
            h3 {
                grid-column: 2/3;
            }
        }
        .part__123__food {
            @include small-only {
                display: grid;
                grid-template-columns: auto auto;
            }
        }
    }
}

// Menu 1 "La note enchantée"
#signature {
    display: grid;
    grid-template-columns: auto auto;
}

// Footer grid system
footer {
    display: grid;
    grid-auto-flow: column;
    :nth-child(1), :nth-child(2) {
        @include xx-small-only {
            margin: auto;
        }
    }
    :nth-child(1) {
        @include small-only {
            margin-left: 40px;
        }
        @include medium-only {
            margin-left: 14px;
        }
    }
    :nth-child(2) {
        @include small-only {
            margin-right: 40px;
        }
        @include medium-only {
            margin-right: 14px;
        }
    }
}

